@model IEnumerable<IdintityProject.Models.CourseModel>

@{
    ViewBag.Title = "Exams";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}

<h2>Exams List </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseExam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam_Date)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Exam_Moed)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CourseExam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Exam_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Exam_Moed)

    </td>
    
</tr>
}

</table>
