@model IdintityProject.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}

<h3>Details of the user : @Html.DisplayFor(model => model.UserName)</h3>

<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
            /
            @Html.DisplayFor(model => model.Course2)

            /

            @Html.DisplayFor(model => model.Course3)
            /
            @Html.DisplayFor(model => model.Course4)
            /
            @Html.DisplayFor(model => model.Course5)


        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
