@model IEnumerable<IdintityProject.Models.GradesModel>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}

<h2>
   @User.Identity.GetUserName() Grades
</h2>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mygrade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Course_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mygrade)
            </td>

        </tr>
    }

</table>
